{% block yellow_map_entry %}
    <h1>Yellow-Map</h1>
    <div id="map-wrapper">
        <!-- Vordefiniertes DIV-Element, in das die Karte geladen wird. -->
        <div id="map" style="width: 500px; height: 300px;"></div>
    </div>

    <!-- SmartMaps API -->
    <!-- Hier muss Ihr persönliches API-Key integriert werden -->
    <script src="https://www.yellowmap.de/api_rst/api/loader?libraries=free-3&apiKey={{ config('NscTaskMap.config.apiKey') }}"></script>
    <script>
        ym.ready(function(modules) {
            var map = ym.map("map", {
                // Geographische Länge und Breite definieren.
                center: ym.latLng(50.095685, 8.690445),
                // Zoomstufe festlegen.
                zoom: 12
            });
            window.map = map;
        });
    </script>
{% endblock %}