.idea
/db_volume/#innodb_redo/
/db_volume/#innodb_temp/
/db_volume/mysql/
/db_volume/performance_schema/
/db_volume/shopware/
/db_volume/sys/
/db_volume/#ib_16384_0.dblwr
/db_volume/#ib_16384_1.dblwr
/db_volume/auto.cnf
/db_volume/binlog.000005
/db_volume/binlog.index
/db_volume/buildkitsandbox.pid
/db_volume/ca.pem
/db_volume/ca-key.pem
/db_volume/client-cert.pem
/db_volume/client-key.pem
/db_volume/debian-5.7.flag
/db_volume/ib_buffer_pool
/db_volume/ibdata1
/db_volume/ibtmp1
/db_volume/mysql.ibd
/db_volume/private_key.pem
/db_volume/public_key.pem
/db_volume/server-cert.pem
/db_volume/server-key.pem
/db_volume/undo_001
/db_volume/undo_002
/shopware/.htaccess.watch