{% block nsc_element_yellow_map_component %}
    {% block nsc_element_yellow_map_preview %}
        <div class="preview-map-container">
            <!-- SmartMaps API -->
            <!-- Hier muss Ihr persönliches API-Key integriert werden -->
            {# todo add apiKey #}

            <iframe :src="mapUrl"
                    style="height: 100%; min-height: 250px; width: 100%; border: 0;" title="SmartMaps"></iframe>

        </div>
    {% endblock %}
{% endblock %}