<div class="yellow-map-element-config">
    <sw-number-field v-model:latitude
                   @update:value="onLatitudeUpdate">
    </sw-number-field>
    <sw-number-field v-model:longitude
                   @update:value="onLongitudeUpdate">
    </sw-number-field>
    <sw-number-field v-model:zoom
                   @update:value="onZoomUpdate">
    </sw-number-field>
</div>