{% block yellow_map_entry %}
    <div id="map-wrapper">
        <!-- Vordefiniertes DIV-Element, in das die Karte geladen wird. -->
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>

    <!-- SmartMaps API -->
    <!-- Hier muss Ihr persönliches API-Key integriert werden -->
    <script src="https://www.yellowmap.de/api_rst/api/loader?libraries=free-3&apiKey={{ config('SeidemannCmsBlocks.config.apiKey') }}"></script>
    <script>
        ym.ready(function(modules) {
            var map = ym.map("map", {
                // Geographische Länge und Breite definieren.
                center: ym.latLng({{ element.config.latitude.value }}, {{ element.config.longitude.value }}),
                // Zoomstufe festlegen.
                zoom: {{ element.config.zoom.value }}
            });
            window.map = map;
        });
    </script>
{% endblock %}