<div class="yellow-map-element-config">
    <sw-number-field v-model:value="this.element.config.latitude.value"
                     numberType="float"
                     :digits="10"
                   @update:value="onLatitudeUpdate">
        <template v-slot:label>Latitude</template>
    </sw-number-field>
    <sw-number-field v-model:value="this.element.config.longitude.value"
                     numberType="float"
                     :digits="10"
                   @update:value="onLongitudeUpdate">
        <template v-slot:label>Longitude</template>
    </sw-number-field>
    <sw-number-field v-model:value="this.element.config.zoom.value"
                     numberType="int"
                     @update:value="onZoomUpdate"
    >
        <template v-slot:label>Zoom</template>
    </sw-number-field>
</div>