{% block nsc_element_yellow_map_preview %}
    <div class="preview-map-container">
        <div id="map-wrapper">
            <!-- Vordefiniertes DIV-Element, in das die Karte geladen wird. -->
            <div id="map" style="width: 500px; height: 300px;"></div>
        </div>

        <!-- SmartMaps API -->
        <!-- Hier muss Ihr persönliches API-Key integriert werden -->
        {# todo add apiKey #}
        {#<iframe src="https://location.smartmaps.app/?key={HIER API_KEY EINBINDEN}&x=8.43986&y=49.02111&str=CAS-Weg&zp=76131&hsn=3&cty=Karlsruhe&c=%2318355b&z=16&zc=topleft&hp=true" style="height: 100%; width: 100%; border: 0;" title="SmartMaps"></iframe>#}

        <h1>Preview</h1>
    </div>
{% endblock %}